.parent {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
}

.child {
  border: 1px solid;
}

.odd {
  border: 1px solid green;
}
