<img *ngIf="getPiece() === 'rb'" src="assets\img\rb.png" />
<img *ngIf="getPiece() === 'nb'" src="assets\img\hb.png" />
<img *ngIf="getPiece() === 'bb'" src="assets\img\bb.png" />
<img *ngIf="getPiece() === 'kb'" src="assets\img\kb.png" />
<img *ngIf="getPiece() === 'qb'" src="assets\img\qb.png" />
<img *ngIf="getPiece() === 'pb'" src="assets\img\pb.png" />
<img *ngIf="getPiece() === 'rw'" src="assets\img\rw.png" />
<img *ngIf="getPiece() === 'nw'" src="assets\img\hw.png" />
<img *ngIf="getPiece() === 'bw'" src="assets\img\bw.png" />
<img *ngIf="getPiece() === 'kw'" src="assets\img\kw.png" />
<img *ngIf="getPiece() === 'qw'" src="assets\img\qw.png" />
<img *ngIf="getPiece() === 'pw'" src="assets\img\pw.png" />
